# ============ Environment variables for the application ===========
APP_ENV=production
PORT=8080
DATABASE_URL=postgres://postgres:123456@db:5432/gin?sslmode=disable
X_API_KEY=21b8f79c-ba0e-485b-8a00-72b425a083a0
ENCRYPTION_KEY=ffdffafae19249232834372926bfefe7

# ============ Rate limiting configuration ===========
RATE_LIMIT_REQUEST_SECOND=5
RATE_LIMIT_REQUEST_BURST=10

# ============ Redis configuration ===========
REDIS_ADDRESS=redis:6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CLUSTER_NODES=localhost:7001,localhost:7002,localhost:7003,localhost:7004,localhost:7005,localhost:7006

# ============ JWT configuration ===========
JWT_SECRET_KEY=your_secret_key
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=168h

# ============= Mail configuration ============
MAIL_PROVIDER_TYPE=ses
MAIL_FROM_ADDRESS=example@gmail.com

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret

MAILTRAP_BASE_URL=https://sandbox.api.mailtrap.io/api/send/0000000
MAILTRAP_API_KEY=
MAILTRAP_NAME_SENDER=Support Team

# ============ RabbitMQ configuration ============
RABBITMQ_URL=amqp://guest:guest@localhost:5672