APP_ENV=development
PORT=8080
DATABASE_URL=postgres://postgres:password@localhost:5432/shopping_db?sslmode=disable
X_API_KEY=21b8f79c-ba0e-485b-8a00-72b425a083a0

RATE_LIMIT_REQUEST_SECOND=5
RATE_LIMIT_REQUEST_BURST=10